body {
    padding-top: 56px;
  }

  .img-fluid{
      height: 400px
       !important;
  }
  p{
      text-align: center;
  }
  .navbar-brand{
    text-align: center;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }